.G-fr {
    background-color: white;
    display: inline;
    font-size: 12pt;
    height: 0.82cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: static;
    width: 2.328cm
    }
.G-fr1 {
    background-color: white;
    display: block;
    font-size: 12pt;
    left: 4.96cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    top: 0;
    width: 7.608cm
    }
.G-fr10 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 0.716cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 1.018cm
    }
.G-fr11 {
    background-color: white;
    border: none;
    display: block;
    font-size: 12pt;
    height: 0.716cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 1.018cm
    }
.G-fr12 {
    background-color: white;
    border: none;
    display: block;
    font-size: 12pt;
    height: 0.736cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 1.044cm
    }
.G-fr13 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 1.827cm;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 2.36cm
    }
.G-fr2 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 9.994cm;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 13.326cm
    }
.G-fr3 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 3.907cm;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 4.822cm
    }
.G-fr4 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 11.412cm;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    top: -11.624cm;
    width: 14.654cm
    }
.G-fr5 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 2.17cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 2.17cm
    }
.G-fr6 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 0.476cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 0.741cm
    }
.G-fr7 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 0.476cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 1.111cm
    }
.G-fr8 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 1.032cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 1.191cm
    }
.G-fr9 {
    background-color: white;
    border: none;
    display: inline;
    font-size: 12pt;
    height: 1.115cm;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 3.016cm
    }
.G-gr {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 5.594cm;
    left: 3.637cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.229cm;
    padding-left: 0.441cm;
    padding-right: 0.441cm;
    padding-top: 0.229cm;
    position: absolute;
    top: 0.617cm;
    width: 7.698cm
    }
.G-gr1 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 4.94cm;
    left: 3.637cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.127cm;
    padding-left: 0.254cm;
    padding-right: 0.254cm;
    padding-top: 0.127cm;
    position: absolute;
    top: 0.615cm;
    width: 7.7cm
    }
.G-gr2 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 5.456cm;
    left: 3.637cm;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.229cm;
    padding-left: 0.441cm;
    padding-right: 0.441cm;
    padding-top: 0.229cm;
    position: absolute;
    top: 0.258cm;
    width: 7.698cm
    }
.G-gr3 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 4.818cm;
    left: 3.637cm;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.127cm;
    padding-left: 0.254cm;
    padding-right: 0.254cm;
    padding-top: 0.127cm;
    position: absolute;
    top: 0.256cm;
    width: 7.7cm
    }
.G-gr4 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 4.821cm;
    left: 3.955cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.229cm;
    padding-left: 0.441cm;
    padding-right: 0.441cm;
    padding-top: 0.229cm;
    position: absolute;
    top: 1.48cm;
    width: 7.698cm
    }
.G-gr5 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 4.257cm;
    left: 3.955cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.127cm;
    padding-left: 0.254cm;
    padding-right: 0.254cm;
    padding-top: 0.127cm;
    position: absolute;
    top: 1.478cm;
    width: 7.7cm
    }
.G-gr6 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 3.62cm;
    left: 4.891cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.229cm;
    padding-left: 0.441cm;
    padding-right: 0.441cm;
    padding-top: 0.229cm;
    position: absolute;
    top: 1.799cm;
    width: 7.7cm
    }
.G-gr7 {
    background-color: white;
    display: block;
    font-size: 12pt;
    height: 3.197cm;
    left: 4.889cm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.127cm;
    padding-left: 0.254cm;
    padding-right: 0.254cm;
    padding-top: 0.127cm;
    position: absolute;
    top: 1.799cm;
    width: 7.702cm
    }
.P-HCuentoCorto {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 3cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-HDrae {
    background-color: white;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 12pt;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-HNormalTimes20Car {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P {
    background-color: white;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.106cm;
    margin-left: 8.742cm;
    margin-right: 0;
    margin-top: 0.423cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: -7.742cm
    }
.P-P1 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P10 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.P-P11 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P12 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: underline
    }
.P-P13 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 24pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P14 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 20pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.318cm;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.P-P15 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0.494cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.494cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P16 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0.494cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.494cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P17 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 18pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0.318cm;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.P-P18 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 18pt;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 3.493cm;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.P-P19 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 20pt;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 3.493cm;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.P-P2 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 62pt;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: -1.905cm;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.P-P20 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 20pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 3.493cm;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.P-P21 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P22 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P23 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P24 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P25 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.499cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P26 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P27 {
    background-color: white;
    display: block;
    font-family: Garamond, serif;
    font-size: 14pt;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P28 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 18pt;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.494cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.494cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P29 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P3 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: -1.905cm;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.P-P30 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0.953cm
    }
.P-P31 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P32 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P33 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 1cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.21cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P34 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0.499cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P35 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P36 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.423cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P37 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0.423cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P38 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P39 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P4 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin-bottom: 1em;
    margin-left: -1.905cm;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.P-P40 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 4.995cm;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.P-P41 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.P-P42 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P43 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P44 {
    background-color: white;
    display: block;
    font-family: Webdings, serif;
    font-size: 26pt;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P45 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P46 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P47 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.P-P48 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P49 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.P-P5 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 24pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: -1.905cm;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.P-P50 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 26pt;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P51 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.P-P52 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 4.99cm;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.P-P53 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P54 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P55 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0.199cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P56 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P6 {
    background-color: white;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.106cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.423cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P7 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 24pt;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right
    }
.P-P8 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.P-P9 {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.P-tituloCornea {
    background-color: white;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.212cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.S-HNormalTimes20Car20Car {
    background-color: white;
    font-size: 14pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-Internet20link {
    background-color: white;
    color: #00f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline
    }
.S-Ref20de20comentario {
    background-color: white;
    font-size: 8pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T {
    background-color: white;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T1 {
    background-color: white;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T10 {
    background-color: white;
    font-family: Webdings, serif;
    font-size: 18pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T11 {
    background-color: white;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T12 {
    background-color: white;
    color: #000;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T13 {
    background-color: white;
    color: #000;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T14 {
    background-color: white;
    color: #000;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T15 {
    background-color: white;
    color: #000;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T16 {
    background-color: white;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T17 {
    background-color: white;
    font-family: Code2000, sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T18 {
    background-color: white;
    color: #000;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T19 {
    background-color: white;
    font-size: 26pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T2 {
    background-color: white;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T3 {
    background-color: white;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline
    }
.S-T4 {
    background-color: white;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T5 {
    background-color: white;
    font-family: "Courier New", monospace;
    font-size: 12pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T6 {
    background-color: white;
    color: #000;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T7 {
    background-color: white;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T8 {
    background-color: white;
    font-style: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T9 {
    background-color: white;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.T-Tableau {
    background-color: white;
    border-collapse: collapse;
    display: block;
    margin-bottom: 0;
    margin-left: -0.199cm;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 16.267cm
    }
.TC-Tableau1A {
    background-color: white;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 8.124cm
    }
.TC-Tableau1B {
    background-color: white;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 8.142cm
    }
.TD-Tableau1A {
    background-color: white;
    border-bottom: 0.05pt solid #000;
    border-left: 0.05pt solid #000;
    border-right: none;
    border-top: 0.05pt solid #000;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.191cm;
    padding-right: 0.191cm;
    padding-top: 0
    }
.TD-Tableau1A1 {
    background-color: white;
    border-bottom: 0.05pt solid #000;
    border-left: 0.05pt solid #000;
    border-right: none;
    border-top: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.191cm;
    padding-right: 0.191cm;
    padding-top: 0
    }
.TD-Tableau1B {
    background-color: white;
    border: 0.05pt solid #000;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.191cm;
    padding-right: 0.191cm;
    padding-top: 0
    }
.TD-Tableau1B1 {
    background-color: white;
    border-bottom: 0.05pt solid #000;
    border-left: 0.05pt solid #000;
    border-right: 0.05pt solid #000;
    border-top: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.191cm;
    padding-right: 0.191cm;
    padding-top: 0
    }
.calibre {
    background-color: white;
    display: block;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    background-color: white;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre2 {
    background-color: white;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.106cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.423cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre3 {
    background-color: white;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    background-color: white;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre5 {
    background-color: white;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    background-color: white;
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre7 {
    background-color: white;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
